.container{
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
}

.container .icon{
    color: white !important;
}

.backgroundDrawer{
    box-sizing: border-box;
    background: #424040;
    width: 250px;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.backgroundDrawer img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

hr{
    width: 248px;
}

.data{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 20px;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.data2{
    height: 100%;
}

span{
    color: #3c7ac2;
}

.data3{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.data3 .button{
    background: #000000 !important;
    width: 70% !important;
}
