.background{
    min-height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("/img/forest.jpg") no-repeat center fixed;
}

.login-card{
    width: 30%;
    height: auto;
    background: #777d89;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    box-shadow: white 0 0 10px;
}

.login-card .avatar{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: white 0 0 10px;
}

img{
    width: 100px;
    height: 100px;
}

h1{
    margin-top: 50px;
    color: #112650;
    font-family: cursive;
}

.login-card .content{
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-button{
    margin-top: 30px !important;
    background: #112650 !important;
    color: white !important;
    width: 100% !important;
    transition-duration: 0.4s;
    font-family: cursive !important;
}

.login-button:hover{
    background: black !important;
}

a{
    margin-top: 15px;
    font-size: 20px;
    font-family: cursive;
}
